.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  
  background-image: radial-gradient( #f876de 0%, #b9d1eb 75%);

  height: 100vh;
  width:100vw;
}

.flex-row {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.paper-r1 {
  background: rgba(0,0,0,0.4);
  margin: 1vw;
  width: 35vw;
  height: 40vh;

}